body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.nav-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 6px 3px 3px grey;
}
.nav-link {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
}

