body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

h4 {
    color: rgb(26, 100, 124);
}

.nav-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 10px 5px 5px grey;
    background-color: rgb(230, 219, 205);
}
.nav-link {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

li {
    margin: 0 30px
}

a {
    text-decoration: none;
    font-family: cursive ;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 100px 0;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 25px;
    padding: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 40px;
    background-color: rgb(68, 179, 220);
    
}

.btn:active {
    background-color: aqua;
}

.container-1 h2 {
    font-size: xx-large;
    color: rgb(99, 61, 61);
}

.container-1 p {
    margin: 0;
    padding: 5px 10px;
    font-size: 2rem;
    color: white;
    background-color: rgba(11, 65, 47, 0.597);
}

